html {
  justify-content: center;
}

body {
  font-family: 'Barlow', sans-serif;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  padding-right: 25px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.justify-content-center .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 3px solid black;
}

.card {
  width: 200px;
  height: 270px;
  margin: auto;
  transform: translateY(40%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.075);
  padding: 15px;
  border-radius: 10px;
  border: 0;
}

.card label {
  font-size: 11pt;
}

.input {
  border: 0;
  border-bottom: 0.5px solid lightskyblue;
  padding: 3px;
  margin-top: 15px;
}

.btn {
  background-color: lightskyblue;
  color: #212529;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
  width: 75%;
}

#countdown {
  color: red;
  margin-top: 20px;
}

table {
  text-align: left;
  margin: auto;
}

td, th {
  padding: 20px;
}

.btn-admin {
  margin: 0;
  margin-top: 5px;
  margin-left: 25px;
}

.small {
  transform: translateY(20%);
  font-size: 7pt;
}